<h2>
  {{ currentCharacter.id ? 'Editar' : 'Agregar' }}
  Personaje
  <small class="title-character" *ngIf="currentCharacter.id">{{ currentCharacter.character }}</small>
</h2>

  
  <mat-divider class="mb-2"></mat-divider>
  
  <div class="grid">
  
    <div class="col-12 sm:col-6">
      <mat-card>
        <mat-card-content>
  
          <form class="grid" [formGroup]="characterForm" (ngSubmit)="onSubmit()">
            >
  
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>Nombre</mat-label>
              <input
                matInput
                type="text"
                required
                formControlName="character"
              />
            </mat-form-field>
  
            <mat-form-field class="col-12 sm:col-6">
              <mat-label>Alter ego</mat-label>
              <input
                matInput
                type="text"
                required
                formControlName="alter_ego"
              />
            </mat-form-field>
  
  
            <mat-form-field class="col-12">
              <mat-label>Actor/actriz</mat-label>
              <input
                matInput
                type="text"
                required
                formControlName="live_actor"
              />
            </mat-form-field>
  
            <mat-form-field class="col-12">
              <mat-label>Convivientes</mat-label>
              <input
                matInput
                type="text"
                required
                formControlName="cohabitants"
              />
            </mat-form-field>
  
            <mat-form-field class="col-12">
              <mat-label>Serie</mat-label>
              <mat-select required="" 
              formControlName="serie">
                <mat-option *ngFor="let serie of Serie"
                  [value]="serie.id">
                  {{ serie.desc }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="col-12">
              <mat-label>Alternative Image (.jpg .png)</mat-label>
              <input
                matInput
                type="text"
                formControlName="alt_img"
              />
            </mat-form-field>
          </form>
  
          <div class="flex justify-content-between">
            <button
              mat-flat-button
              color="warn"
              *ngIf="currentCharacter.id"
              (click)="onDeleteCharacter()"
            >
              Borrar
            </button>
           
            <span></span> <!-- hace de separador por si el boton borrar desaparece -->
  
            <button
              class="mat-button"
              mat-flat-button
              color="primary"
              (click)="onSubmit()"
            >
              <mat-icon>save</mat-icon>
              Guardar
            </button>
          </div>
  
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="col-12 sm:col-6">
  
      <mat-card>
        <img [src]="currentCharacter | characterImage" alt="imagen del personaje" mat-card-image>
      </mat-card>
  
    </div>
  </div>
  
  
  